@mixin large-text {
  font: {
    family: Arial;
    size: 20px;
    weight: bold;
  }
  color: #380B61;
}

@mixin button-bg {
  background: $background;
  &:hover {
background:darken($background,8%);
transition: all 0.3s ease;
  }
  &:active {
background:darken($background,35%);
  } 
}
